html {
    box-sizing: border-box;
    font-size: 20px;
}
body {
    margin: 2rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    background-color: #121212;
    color: white;
}
img,
video {
    height: auto;
    max-width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}
h2,
h3 {
    padding: 0;
    margin: 0;
}
h3 {
    font-weight: normal;
}
p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.flexBox {
    display: flex;
    align-items: center;
}
.horizontalLine {
    background-color: indianred;
    min-height: 2px;
    margin-bottom: 10px;
}
.horizontalSpacer {
    background-color: indianred;
    min-height: 2px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}
.verticalLine {
    background-color: indianred;
    min-width: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.projectDetails {
    margin-left: 10px;
}
.vidPlayer {
    min-width: 50%;
    max-width: 50%;
}